#UV
HOME=/tmp
UV_CACHE_DIR=/tmp/uv-cache

#Postgres
DATABASE_URL=postgresql+psycopg://postgres_user:postgres_password@postgres:5432/postgres_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

#Celery
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

#Redis
REDIS_URL=redis://redis:6379/0

#Email
SENDER_EMAIL=example@mail.com
EMAIL_APP_PASSWORD=12341451

#Inner work
BASE_URL=http://localhost:8000
ORIGINS=["http://localhost:3000"]